In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Dow 30 Ticker Symbols
dow_30_tickers = [
    'AAPL', 'MSFT', 'V', 'BA', 'JNJ', 'WMT', 'PG', 'DIS', 'KO', 'GS', 
    'HD', 'UNH', 'VZ', 'INTC', 'JPM', 'CSCO', 'MMM', 'NKE', 'MRK', 
    'TRV', 'CVX', 'AXP', 'CAT', 'IBM', 'DOW', 'XOM', 'WBA', 'MCD', 'RTX', 'HON'
]

In [3]:
def get_fundamental_data(ticker):
    stock = yf.Ticker(ticker)
    info = stock.info
    
    # Extract relevant fundamental data
    pe_ratio = info.get('trailingPE', None)
    earnings_growth = info.get('earningsQuarterlyGrowth', None)
    roe = info.get('returnOnEquity', None)
    debt_to_equity = info.get('debtToEquity', None)
    
    return {
        'Ticker': ticker,
        'PE_Ratio': pe_ratio,
        'Earnings_Growth': earnings_growth,
        'ROE': roe,
        'Debt_to_Equity': debt_to_equity
    }

# Fetch data for all Dow 30 stocks
fundamental_data = [get_fundamental_data(ticker) for ticker in dow_30_tickers]
fundamental_df = pd.DataFrame(fundamental_data)

# Display the fundamental data
fundamental_df

   Ticker   PE_Ratio  Earnings_Growth      ROE  Debt_to_Equity
0    AAPL  34.430744            0.079  1.60583         151.862
1    MSFT  35.681934            0.097  0.37133          36.447
2       V  29.689838            0.172  0.48548          51.856
3      BA        NaN              NaN      NaN             NaN
4     JNJ  24.506807           -0.089  0.22146          57.999
5     WMT  42.328125           -0.430  0.18532          69.566
6      PG  28.696516           -0.073  0.30677          66.706
7     DIS  36.034485              NaN  0.05460          45.188
8      KO  29.150406           -0.053  0.38772         164.398
9      GS  15.715614            1.502  0.09490         585.382
10     HD  27.508406           -0.021  5.13362        1479.819
11    UNH  38.680370           -0.230  0.15584          75.678
12     VZ  16.996240           -0.012  0.12095         182.829
13   INTC  94.541670              NaN  0.00782          44.032
14    JPM  11.540690            0.254  0.16545             NaN
15   CSCO  20.763780           -0.454  0.22982          70.931
16    MMM  53.330738              NaN  0.24314         345.812
17    NKE  23.895441            0.455  0.40093          83.042
18    MRK  21.208872              NaN  0.33383          86.574
19    TRV  14.899873              NaN  0.15784          32.306
20    CVX  14.821781           -0.262  0.11761          14.466
21    AXP  20.044777            0.387  0.34977         180.044
22    CAT  17.884686           -0.082  0.62167         217.735
23    IBM  24.210815            0.159  0.36244         248.264
24    DOW  33.666668           -0.095  0.06248          94.638
25    XOM  14.345695            0.173  0.14690          15.632
26    WBA        NaN            1.915 -0.55966         218.172
27    MCD  26.530650           -0.125      NaN             NaN
28    RTX  72.319760           -0.916  0.03648          71.795
29    HON  23.523973            0.038  0.32740         165.725

In [4]:
fundamental_df.describe()

        PE_Ratio  Earnings_Growth        ROE  Debt_to_Equity
count  28.000000        24.000000  28.000000       27.000000
mean   30.248191         0.099542   0.433134      179.885111
std    18.071634         0.575147   0.980737      286.885520
min    11.540690        -0.916000  -0.559660       14.466000
25%    19.504754        -0.102500   0.120115       54.927500
50%    25.518729        -0.016500   0.225640       83.042000
75%    34.743541         0.172250   0.364663      181.436500
max    94.541670         1.915000   5.133620     1479.819000

In [5]:
def filter_stocks(df):
    # Apply screening criteria
    filtered_df = df[
        (df['PE_Ratio'] < 25) &
        (df['Earnings_Growth'] > -0.02) &
        (df['ROE'] > 0.10) &
        (df['Debt_to_Equity'] < 181)
    ]
    return filtered_df

# Apply the filter
filtered_stocks = filter_stocks(fundamental_df)

# Display the filtered stocks
print("Filtered Stocks:")
print(filtered_stocks)

Filtered Stocks:
   Ticker   PE_Ratio  Earnings_Growth      ROE  Debt_to_Equity
17    NKE  23.895441            0.455  0.40093          83.042
21    AXP  20.044777            0.387  0.34977         180.044
25    XOM  14.345695            0.173  0.14690          15.632
29    HON  23.523973            0.038  0.32740         165.725

In [6]:
filtered_stocks

   Ticker   PE_Ratio  Earnings_Growth      ROE  Debt_to_Equity
17    NKE  23.895441            0.455  0.40093          83.042
21    AXP  20.044777            0.387  0.34977         180.044
25    XOM  14.345695            0.173  0.14690          15.632
29    HON  23.523973            0.038  0.32740         165.725

In [7]:
def add_sector_data(ticker):
    stock = yf.Ticker(ticker)
    info = stock.info
    sector = info.get('sector', 'Unknown')
    return sector

# Add sector data to the filtered stocks
filtered_stocks['Sector'] = filtered_stocks['Ticker'].apply(add_sector_data)

# Group by Sector
sector_counts = filtered_stocks['Sector'].value_counts()
print("Sector Analysis:")
print(sector_counts)

Sector Analysis:
Sector
Consumer Cyclical     1
Financial Services    1
Energy                1
Industrials           1
Name: count, dtype: int64

C:\Users\nilee\AppData\Local\Temp\ipykernel_19096\2500462612.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_stocks['Sector'] = filtered_stocks['Ticker'].apply(add_sector_data)

In [8]:
sector_counts

Sector
Consumer Cyclical     1
Financial Services    1
Energy                1
Industrials           1
Name: count, dtype: int64